.navbar
{
	background-color: #D10E48;
}

.btn
{
	background-color: #D10E48;
	border-color: #D10E48;
}

#FollowingFollowers
{
	background-color: #D10E48;
}

.darkmode
{
	background-color: #444444;
	color: white;
}